@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
body{
font-family: 'Roboto', sans-serif;
}
p, h1, h2, h3, h4, h5, h6, a{
  font-family: Roboto;
}
ul{padding: 0px; list-style: none;}
a{
  text-decoration: none;
}
.form-group {
    padding-top: 15px;
    overflow: hidden;
}
.form-group .control-label {
    text-align: right;
        font-weight: 400 !important;
}
.input-group-addon {
    background-color: #95b75d;
    border: 1px solid #95b75d;
    color: #fff;
}
.form-control:focus {
    border-color: none;
    background: #faffbd;
}
.checkbox input[type=checkbox], .checkbox-inline input[type=checkbox], .radio input[type=radio], .radio-inline input[type=radio] {
  text-align: center;
      width: 75%;
      height: 35px;
      margin-top: -20px;
}
.input-group {
    width: 75%;
}
#croppic {
    width: 220px;
    height: 220px;
    position: relative;
    margin: 50px 70px 20px;
    border: 3px solid #FFF;
    box-sizing: content-box;
    -moz-box-sizing: content-box;
    border-radius: 2px;
/*    background-image: url(img/placeholder.png);*/
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: 0px 0px 4px 2px rgba(0,0,0,0.1);
    background-color: #CEE0DE;
}
.btn-white {
    background-clip: padding-box;
    background-color: #FFFFFF;
    border-color: rgba(150, 160, 180, 0.3);
    box-shadow: 0 -1px 1px rgba(0, 0, 0, 0.05) inset;
}
.btn-white {
    box-shadow: none !important;
}
@media screen and (max-width:768px){
  .input-group {
    width: 100%;
}
.checkbox input[type=checkbox], .checkbox-inline input[type=checkbox], .radio input[type=radio], .radio-inline input[type=radio] {
      margin-top: -50px;
}
}
